.App {
text-align: center;
padding: 0;
margin: 0;
}

.main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 align-items:center;
 justify-content:space-between;
 margin: 10px;
}
.container{
  box-shadow: 10px 10px white;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  width: 400px;
  height: auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  padding: 1rem;
  gap: 2rem;
}
.container img{
  width:100% ;
  height: 350px;
}
.cart-price p{
  float: left;
}
.cart-price h2{
  float: right;
}
.table{
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  box-shadow: 30px 30px white;
  border-radius: 20px;
  width: 350px;
}
.table table tr{
  display: flex;
  flex-direction: row;
  border-bottom:1px black solid ;
}

.thead th{
  padding: 10px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
}
.tbody td img{
  width: 120px;
}
.tbody td{
  padding: 10px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
}